# Ignore hidden files and/or folders
.nb-gradle/
.gradle/
.classpath
.project
.settings/
.vscode/

# Ignore build folder
build/

# Ignore bin
bin/

# Ignore local db
data.db

# Ignore jacoco files
jacococoverage/test/jacocoTestReport.xml
jacococoverage/test/html/jacoco-sessions.html

# Ignore codacy coverage builder
codacy-coverage-reporter-4.0.5-assembly.jar