<div th:fragment="readingtip-actions">

    <form th:action="@{/comment}" th:object="${comment}" id="newcomment" method="POST">
        <input type="hidden" name="id" />
        <input type="hidden" name="commentDescription" />
    </form>

    <form th:action="@{/toggleread}" id="toggleread" th:method="PATCH">
        <input type="hidden" name="id" />
    </form>

    <form th:action="@{/swappriorities}" id="swappriorities" th:method="PATCH">
        <input type="hidden" name="id1" />
        <input type="hidden" name="id2" />
    </form>

</div>