.error {
    color: red;
}

a {
    display: inline;
    color: #0000d9;
}

body {
    background-image: url(../images/lukuvinkit_bg.jpg);
    margin: 0;
    padding: 0;
    height: 100%
}

.page_container {
    margin: 0 auto;
    height: 100%;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.4);
}

.h1_container {
    padding-top: 50px;
    text-align: center;
}

h1 {
    padding: 10px;
    border-radius: 10px;
    display:inline;
    background-color: #999;
    color: #76f9bf;
}

.h2_container {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    padding: 10px;
    border-radius: 10px;
    display:inline;
    background-color: #999;
    color: #76f9bf;
}

table {
    padding: 10px;
    border-radius: 10px;
    background-color: #999;
    margin-left: auto;
    margin-right: auto;
}

.article_container {
    width: 350px;
    margin: 40px auto 0;
}

article {
    background-color: #999;
    margin: 10px 0;
    padding: 10px;
}

article h3 {
    font-size: 24px;
    margin: 5px 0;
}

.description {
    color: #76f9bf;
}

.tag {
    display: inline-block;
    color: black;
    background-color: pink;
    padding: 4px;
    margin: 3px 1px;
}

.comments {
 margin: 10px 0 0;
}

.comment {
    display: none;
    margin-left: 20px;
}

.comment:before {
    content: "- "
}

.form_container {
    margin-bottom: 50px;
}