body {
    background-image: url(../images/lukuvinkit_bg.jpg);
    font-family: 'Noto Sans SC', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%
}

/* main containers */

.container {
    margin: 0 auto;
    height: 100%;
    width: 1024px;
    background-color: rgba(0, 0, 0, 0.4);
}

.topnav {
    background-color: #ad62cf;
    overflow: hidden;    
}

.heading {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.readingtips {
    border-radius: 10px;
    padding-bottom: 10px;
    width: 600px;
    margin: 30px auto 0;
}

.create-readingtip {
    width: 400px;
    margin: 10px auto 100px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ad62cf;
}

/* individual elements */

a {
    display: inline;
    color: #64e1e7;
}

article {
    border-radius: 10px;
    background-color: #ad62cf;
    margin: 10px 0;
    padding: 10px;
}

h1, h2 {
    padding: 10px;
    border-radius: 10px;
    display:inline;
    background-color: #ad62cf;
    color: #64e1e7;
}

h3 {
    display: inline-block;
    font-size: 24px;
    margin: 5px 0;
}

input[type=text] {
    font-size: 16px;
    padding: 10px;
    margin: 2px 0;
}

.create-readingtip input[type=text] {
    width: 350px;
}

.commentarea input[type=text] {
    width: 436px;
}

input[type=submit] {
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    margin: 15px 0;
    color: black;
    border: 0;
    background-color: #64e1e7;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: #52c8ce;
}

.topnav input {
    float: right;
}

td {
    margin: 0 10px;
    display: block;
}

/* other custom classes */

.error {
    color: red;
}

.comment {
    background-color: white;
    list-style: none;
    margin: 10px 0;
    padding: 8px;
}

.commentarea {
    display: none;
    margin-left: 20px;
}

.newcomment {
    border-top: 2px solid #64e1e7;
    padding: 20px 0 0 0;
    margin-top: 30px;
}

.read-tag {
    color: white;
    border: 2px solid white;
    padding: 2px;
    margin-left: 5px;
}

.readingtips-comments {
    margin: 10px 0 0;
}

.readingtips-description {
    color: #64e1e7;
}

.readingtips-read {
    float: right;
}

.tag {
    display: inline-block;
    color: black;
    background-color: white;
    padding: 4px;
    margin: 3px 1px;
}