body {
    background-image: url(../images/lukuvinkit_bg.jpg);
    margin: 0;
    padding: 0;
    height: 100%
}

/* main containers */

.container {
    margin: 0 auto;
    height: 100%;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.4);
}

.heading {
    padding-top: 50px;
    text-align: center;
}

.readingtips {
    width: 500px;
    margin: 30px auto 0;
}

.create-readingtip {
    width: 400px;
    margin: 30px auto 100px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #999;
}

/* individual elements */

a {
    display: inline;
    color: #0000d9;
}

article {
    background-color: #999;
    margin: 10px 0;
    padding: 10px;
}

h1 {
    padding: 10px;
    border-radius: 10px;
    display:inline;
    background-color: #999;
    color: #76f9bf;
}

h2 {
    padding: 10px;
    border-radius: 10px;
    display:inline;
    background-color: #999;
    color: #76f9bf;
}

h3 {
    font-size: 24px;
    margin: 5px 0;
}

input[type=text] {
    font-size: 16px;
    padding: 10px;
    margin: 2px 0;
}

.create-readingtip input[type=text] {
    width: 350px;
}

.commentarea input[type=text] {
    width: 436px;
}

input[type=submit] {
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    margin: 15px 0;
    color: white;
    border: 0;
    background-color: #22f;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: #00f;
}

td {
    margin: 0 10px;
    display: block;
}

/* other custom classes */

.error {
    color: red;
}

.comment {
    background-color: white;
    list-style: none;
    margin: 10px 0;
    padding: 8px;
}

.commentarea {
    display: none;
    margin-left: 20px;
}

.newcomment {
    border-top: 2px solid #777;
    padding: 20px 0 0 0;
    margin-top: 30px;
}

.readingtips-comments {
 margin: 10px 0 0;
}

.readingtips-description {
    color: #76f9bf;
}

.readingtips-read {
    float: right;
}

.tag {
    display: inline-block;
    color: black;
    background-color: pink;
    padding: 4px;
    margin: 3px 1px;
}