<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Lukuvinkit</title>
</head>

<body>

    <h1>Lukuvinkit</h1>

    <tr th:each="lukuvinkki : ${list}">
        <li>
            <!-- url isnt giving absolute path - must be fixed. -->
            <a th:href="@{__${lukuvinkki.url}__}"><b>
                    <td th:text="${lukuvinkki.title}" /></b></a><br />
            <td th:text="${lukuvinkki.description}" />
        </li>
    </tr>

    <h2>Lisää uusi lukuvinkki</h2>

    <form th:action="@{/}" method="POST">
        <p>Title:<input type="text" name="title" /></p>
        <p>Description:<input type="text" name="description" /></p>
        <p>Url:<input type="text" name="url" /></p>
        <input type="submit" />
    </form>
</body>

</html>