<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans+SC}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/site.js}"></script>
    <title>Reading tips</title>
</head>

<body onload="newReadingTipFormRefresh()">
    <div class="container">

        <div class="topnav">
            <span class="header">
                <h1>Reading tips</h1>
            </span>
            <input type="text" name="searchbar" id="search" placeholder="Search by tags..." onkeyup="filterTips()" autofocus="true" />
        </div>

        <div class="readFilter">
            <b id="hideCheck" style="color:#64e1e7">Hide read</b>
            <input id="filter-read" type="checkbox" onclick="filterTips()" />
        </div>

        <div id="readingTipsList" class="readingtips">
            <article th:class="${listingUnit.readingTip.read} ? 'tip-read' : 'tip-unread'" th:each="listingUnit : ${list}">
                <div class="readingtips-read">
                    <form th:action="@{/}" th:object="${listingUnit.readingTip}" th:method="PATCH">
                        <input type="hidden" name="id" th:value="${listingUnit.readingTip.id}" />
                        <label for="read" th:text="${listingUnit.readingTip.read} ? 'Mark as unread' : 'Mark as read' "></label>
                        <input type="checkbox" name="read" onclick="submitForm(this)" />
                    </form>
                </div>

                <div class="readingtips-title">
                    <h3>
                        <span th:text="${listingUnit.readingTip.type}"></span>
                        <span th:if="${listingUnit.readingTip.url == ''}" th:text="${listingUnit.readingTip.title}"></span>
                        <a th:if="${listingUnit.readingTip.url != ''}" th:href="@{__${listingUnit.readingTip.url}__}" th:text="${listingUnit.readingTip.title}" />
                    </h3>
                    <span class="read-tag" th:if="${listingUnit.readingTip.read}">READ</span>
                </div>

                <div class="readingtips-description">
                    <p th:if="${listingUnit.readingTip.author != ''}" th:text="${listingUnit.readingTip.author}"></p>
                    <p th:if="${listingUnit.readingTip.isbn != ''}" th:text="${listingUnit.readingTip.isbn}"></p>
                </div>

                <div class="readingtips-tags">
                    <span class="tag" th:each="tag : ${listingUnit.tags}" th:text="${tag.tagDescription}"></span>
                </div>

                <div class="readingtips-comments">
                    <a href="#" onclick="toggleComments(this)" th:text="${#lists.size(listingUnit.comments)} + ' comment(s)'"></a>

                    <div class="commentarea">
                        <li class="comment" th:each="comment : ${listingUnit.comments}" th:text="${comment.commentDescription}"></li>

                        <div class="newcomment">
                            <form th:action="@{/comment}" th:object="${comment}" method="POST">
                                <input type="hidden" name="readingTipId" th:value="${listingUnit.readingTip.id}" />
                                <label for="comment">Add a new comment:</label>
                                <input type="text" name="commentDescription" placeholder="Type your new comment here..."
                                    required="true" />
                                <input name="create-comment" value="Submit" type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="create-readingtip">
            <div class="heading">
                <h2>Add a new reading tip</h2>
            </div>
            <form th:action="@{/readingtip}" th:object="${readingTip}" method="POST">
                <table>
                    <tr>
                        <td><label for="type">Type:</label></td>
                        <td>
                            <select th:field="*{type}" name="type" id="typeField" required="true" oninput="newReadingTipFormRefresh()">
                                <option value="Link" selected="selected">Link</option>
                                <option value="Article">Article</option>
                                <option value="Book">Book</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><label for="title">Title:</label></td>
                        <td><input type="text" th:field="*{title}" name="title" required="true" /></td>
                        <td class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
                    </tr>

                    <tr id="urlField">
                        <td><label for="url">URL:</label></td>
                        <td><input type="text" th:field="*{url}" name="url" /></td>
                        <td class="error" th:if="${#fields.hasErrors('url')}" th:errors="*{url}" />
                    </tr>

                    <tr id="authorField">
                        <td><label for="author">Author:</label></td>
                        <td><input type="text" th:field="*{author}" name="author" /></td>
                        <td></td>
                    </tr>

                    <tr id="isbnField">
                        <td><label for="isbn">ISBN:</label></td>
                        <td><input type="text" th:field="*{isbn}" name="isbn" /></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><label for="description">Description:</label></td>
                        <td><input type="text" th:field="*{description}" name="description" required="true" /></td>
                        <td class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
                    </tr>

                    <tr th:object="${tag}">
                        <td><label for="tags">Tags (separate with a comma):</label></td>
                        <td><input type="text" th:field="*{tagDescription}" name="tagDescription" /></td>
                        <td class="error" th:if="${#fields.hasErrors('tagDescription')}" th:errors="*{tagDescription}" />
                    </tr>

                    <tr>
                        <td style="text-align: center"><input name="create-readingtip" value="Submit" type="submit" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>